# User Auth
AUTH_SECRET=""
AUTH_TRUST_HOST="http://localhost:3000"

# Mail
AUTH_RESEND_KEY=""

# Database
DATABASE_URL="postgresql://bubblymaps:bubblymaps@localhost:5432/bubblymaps"

APP_VERSION="v6.0.0"
API_VERSION="v6"
APP_URL="http://localhost:3000"
API_TOKEN=""

# Logging
DISCORD_WEBHOOK_URL=""

# Reserved Usernames
RESERVED_USERNAMES=[]